*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'KoHo', sans-serif;
}

h1, h2, h3 {
  color: #007C80;
  font-weight: 400;
}

h4, h5, h6 {
  color: #3F3F3F;
  font-weight: 300;
}

.contenedor{
  width: 90%;
  max-width: 1000px;
  margin: auto;
  overflow: hidden;
}

.contenedor1{
  width: 90%;
  max-width: 1000px;
  margin: auto;
  overflow: hidden;
  padding: 60px 0;
}

.contenedor2{
  width: 90%;
  max-width: 1000px;
  margin: auto;
  overflow: hidden;
  padding: 60px 0;
}

h1{
  font-size: 45px;
}

/* Header */
header::before{
  content: "";
  display: block;
  margin-bottom: 80px;
}

nav{
  width: 100%;
  height: 80px;
  background: #FFFFFF;
  border-bottom: 1px solid transparent;
  box-shadow: 1px 1px 10px 0 rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  z-index: 100;
  /*transition: ease-in-out 0.5s;*/
}

.nav{
  display: flex;
  justify-content: space-between;
  height: 80px;
  width: 100%;
  align-items: center;
}

.nav .logo {
  height: 80px;
}

.nav .logo img {
  height: 100%;
  vertical-align: top;
}

/* Estructura Barra de Búsqueda */

.flexsearch--wrapper {
	height: auto;
	width: auto;
	max-width: 100%;
	overflow: hidden;
	background: transparent;
	margin: 0;
	position: static;
}

.flexsearch--form {
	overflow: hidden;
	position: relative;
}

.flexsearch--input-wrapper {
	padding: 0; /* Right padding for submit button width */
	overflow: hidden;
}

.flexsearch--input {
  width: 360px;
}

/* Configuración del Estilo de Barra de Búsqueda*/

.flexsearch {
  padding: 0; /* Padding for other horizontal elements */
}

.flexsearch--input {
  -webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
 	height: 30px;
  padding: 0 46px 0 15px;
  border-radius: 35px; /* (height/2) + border-width */
  border: 1px solid #60ADB0;
  margin-top: 5px;
  color: #333;
  font-family: 'KoHo', sans-serif;
	font-size: 20px;
	-webkit-appearance: none;
	-moz-appearance: none;
}

.flexsearch--submit {
  position: absolute;
	right: 0;
	top: 0;
	display: block;
	width: 60px;
	height: 60px;
  padding: 0;
  border: none;
	margin-top: -10px; /* margin-top + border-width */
  margin-right: 5px; /* border-width */
	background: transparent;
  color: #60ADB0;
  font-family: 'KoHo', sans-serif;
  font-size: 30px;
  line-height: 60px;
}

.flexsearch--input:focus {
  outline: none;
  border-color: #00ADB3;
}

.flexsearch--input:focus.flexsearch--submit {
 	color: #202525;
}

.flexsearch--submit:hover {
  color: #00ADB3;
  cursor: pointer;
}

::-webkit-input-placeholder {
	color: #202525;
}

input:-moz-placeholder {
  color: #00ADB3;
}

/* Menú */

.enlaces-header{
  font-weight: 400;
}

.nav .enlaces-header a{
  color: #202525;
  text-decoration: none;
  margin-left: 20px;
}

.nav .enlaces-header a:hover{
  color: #00ADB3;
  transition: color 0.5s;
}


.menu{
  width: 80px;
  height: 80px;
  display: none;
  text-align: center;
  z-index: 100;
  cursor: pointer;
  /*transition: color 0.5 ease-in;*/
}

.menu > i{
  font-size: 25px;
  line-height: 80px;
}

.contenido-header{
  width: 100%;
  height: 600px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contenido-header > img{
  width: 550px;
}

.textos-header{
  margin: 0 0 0 30px;
}

.contenido-header p{
  font-weight: 300;
  margin-top: 14px;
  color: #202525;
}

.contenido-header a{
  margin: 28px 0 0 0;
  width: 100px;
  display: inline-block;
  background: #00C6CD;
  text-align: center;
  color: #FFFFFF;
  padding: 12px 0;
  text-decoration: none;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 14px;
  border-radius: 5px;
  box-shadow: 0 8px 32px rgba(32, 205, 211, 0.46);
}

.titulo{
  font-size: 50px;
}

/* Cursos */

.cursos{
  background: #DFF8F9;
}

.contenedor-articulo{
  display: flex;
  flex-wrap: wrap;
  margin-top: 60px;
  justify-content: space-around;
}

.articulo{
  width: 29%;
  background: #FFFFFF;
  margin-bottom: 30px;
  border-radius: 10px;
  padding: 45px 30px 60px 30px;
  transition: 0.5s;
}

.articulo:hover{
  box-shadow: 0 4px 10px rgba(17, 29, 49, 0.26);
}

.articulo > i{
  font-size: 30px;
  color: #FFFFFF;
  background: #60DBE0;
  display: inline-block;
  width: 70px;
  height: 70px;
  text-align: center;
  padding-top: 20px;
  border-radius: 50%;
  box-shadow: 0 8px 32px rgba(32, 205, 211, 0.46);
}

.articulo > h3{
  font-size: 24px;
  margin-top: 30px;
}

.articulo > p{
  font-weight: 300;
  color: #202525;
  margin-top: 15px;
  padding-bottom: 20px;
}

.articulo > a{
  color:#202525;
  font-weight: 400;
  text-decoration: none;
}

.articulo > a:hover{
  color: #00ADB3;
  transition: color 0.5s;
}

/* About Us */

.contenedor1{
  display: flex;
  justify-content: space-between;
}

.contenedor1 > img{
  width: 500px;
}

.box-skills{
  margin: 30px 30px 0 0;
}

.box-skills > h2{
  font-size: 45px;
  margin-bottom: 10px;
  color: #3B8589;
}

.box-skills > h4{
  font-size: 20px;
  background: #DFF8F9;
  width: 350px;
  border-radius: 6px;
  padding: 10px 0 10px 15px;
  margin-bottom: 10px;
}

.box-skills i{
  color: #00ADAC;
  font-size: 20px;
}

/* Footer*/

footer{
  background: #DFF8F9;
  padding: 80px 0;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: auto;
}

.partFooter{
  width: 20%;
  text-align: center;
}

.partFooter h4{
  color: #00959A;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 25px;
}

.partFooter p{
  display: block;
  text-align: justify;
  text-decoration: none;
  color: #202525;
  font-weight: 300;
  margin-bottom: 10px;
}

.partFooter img{
  width: 90%;
}

.social-media i{
  font-size: 20px;
  display: inline-block;
  color: #80BEC0;
  border: 1px solid #80BEC0;
  border-radius: 50%;
  width: 38px;
  height: 38px;
  line-height: 38px;
  cursor: pointer;
  text-align: center;
  transition: all ease-in-out 0.3s;
  margin-right: 5px;
}

.social-media i:hover{
  color: #DFF8F9;
  background: #00C6CD;
  border-color: #00C6CD;
}
