/* Estilo General */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background: #DFF8F9;
  font-family: 'KoHo', sans-serif;
  font-size: 15px;
}

a{
  text-decoration: none;
}

ul, ol{
  list-style: none;
}

.caja-login{
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: flex-start;
  overflow: hidden;
}

/* Estilo de la caja imagen */

.caja-imagen{
  width: calc(100% - 520px);
  height: 100%;
  overflow: hidden;
  position: relative;
}

.imagen{
  min-width: 100%;
  min-height: 100%;
  height: auto;
  display: none;
  position: relative;
  justify-content: center;
}

.imagen.active{
  display: flex;
}

.imagen img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.caja-logo{
  position: absolute;
  top: 60px;
  width: 600px;
  text-align: center;
}

.caja-logo .logo{
  margin-bottom: 5px;
}

.caja-logo .logo img{
  width: 200px;
}

.caja-imagen .imagen-texto{
  color: #202525;
  font-size: 16px;
}

/* Estilos Caja de Formulario */

.caja-texto{
  width: 520px;
  height: 100%;
  overflow: hidden;
  overflow-y: auto;
  background: #FFFFFF;
}

.caja-form{
  width: 100%;
  padding: 100px 50px 50px 50px;
}

.caja-form .titulo{
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 20px;
  color: #00959A;
}

.caja-form .descripcion{
  font-size: 15px;
  color: #202525;
}

/* Estilos de los Tabs */

.tabs-links{
  margin-top: 70px;
  display: flex;
  width: 100%;
  border-bottom: 1px solid #F2F2F2;
  padding-bottom: 10px;
}

.tabs-links .tab-link{
  font-size: 15px;
  font-weight: 500;
  margin-right: 30px;
  color: #00959A;
  cursor: pointer;
  position: relative;
}

.tabs-links .tab-link.active{
  color: #005D60;
  font-weight: 700;
}
.tabs-links .tab-link.active::after{
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  background: #005D60;
  left: 0;
  bottom: -10px;
}

/* Estilo de Formulario */

.formulario{
  display: none;
  margin-top: 30px;
}

.formulario.active{
  display: block;
}

.formulario .input-text{
  padding: 14px 20px;
  border: 1px solid transparent;
  background: #FFFFFF;
  margin-bottom: 20px;
  border-radius: 3px;
  width: 100%;
  outline: 0;
  font-size: 14px;
  color: #909292;
}

.formulario .grupo-input{
  display: flex;
  width: 100%;
  position: relative;
  margin-bottom: 20px;
}

.formulario .grupo-input .input-text{
  padding-right: 60px;
  margin-bottom: 2px;
}

.formulario .grupo-input .icono{
  position: absolute;
  width: 50px;
  height: 100%;
  border: none;
  cursor: pointer;
  background: none;
  font-size: 18px;
  color: #202525;
  right: 0;
  outline: 0;
}

.formulario .grupo-input .icono.active{
  color: #00C6CD;
}

.formulario .input-text:focus{
  border: 1px solid #00C6CD;
}

.link{
  font-size: 14px;
  color: #007C80;
}

.link:hover{
  text-decoration: underline;
}

.formulario .btn{
  width: 100%;
  padding: 14px;
  border: none;
  background: #00C6CD;
  color: #FFFFFF;
  font-size: 14px;
  text-transform: uppercase;
  border-radius: 5px;
  margin-top: 40px;
  outline: 0;
  cursor: pointer;
  display: block;
}

.formulario .btn:hover{
  background: #00959A;
}

/* Estilo de Checkbox Perzonalizado */

.caja-cbx{
  display: inline-block;
  position: relative;
  padding-left: 28px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 14px;
  color: #202525;
  user-select: none;
}

.caja-cbx input{
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.caja-cbx .cbx-marca{
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background: transparent;
  border: 1px solid #202525;
  transition: all 0,8s ease;
}

.caja-cbx:hover input ~ .cbx-marca{
  border: 1px solid #00C6CD;
}

.caja-cbx .cbx-marca::after{
  font-family: 'KoHo';
  font-weight: 700;
  content: '\2713';
  font-size: 13px;
  position: absolute;
  display: none;
  left: 3px;
  bottom: 1px;
  color: #FFFFFF
}

.caja-cbx input:checked ~ .cbx-marca::after{
  display: block;
}

.caja-cbx input:checked ~ .cbx-marca{
  background: #00ADB3 !important;
  border: 1px solid #005D60 !important;
}

/* Estilo de mensaje de error */

.error-text{
  background: #F3BFBF;
  border-radius: 5px;
  padding: 8px 20px;
  margin-bottom: 10px;
  display: none;
}

.error-text p{
  font-size: 13px;
  color: #D32020;
}

.error-text.active{
  display: block;
}
